<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
  <title>Quiz App</title>
</head>
<body>

<%= require('./views/admin.ejs')() %>
<%= require('./views/player-form.ejs')() %>
<%= require('./views/quiz.ejs')() %>
<%= require('./views/main-menu.ejs')() %>

<img src="<%= require('./assets/images/leaves.svg') %>" alt="quiz" id="quiz" />

</body>
</html>