<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Quiz App</title>
</head>
<body>

<div id="background-elements">
  <img id="leaves-image" src="<%= require('@images/leaves.svg') %>" alt="leaves">
</div>

<main>
  <img id="layout-image-kerakoll" src="<%= require('@images/kerakoll-logo.svg') %>" alt="kerakoll">

  <section id="view-container">
    <%= require('./views/player-form.ejs')() %>
    <%= require('./views/admin.ejs')() %>
    <%= require('./views/quiz.ejs')() %>
    <%= require('./views/main-menu.ejs')() %>
    <%= require('./views/final-results.ejs')() %>
  </section>

  <img id="layout-image-feicon" src="<%= require('@images/feicon-logo.svg') %>" alt="feicon">
</main>

<div id="keyboards-container">
  <div class="simple-keyboard alphanumeric-keyboard"></div>
  <div class="simple-keyboard numeric-keyboard"></div>
</div>

</body>
</html>